## Import Data

In [1]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [2]:
#Specify the path
raw_file = Path("./../Resources/WorldESGData2024.csv")

In [3]:
#Read the file
raw_data = pd.read_csv(raw_file)

In [4]:
#View the data
raw_data.head()

,Country Name,Country Code,Series Name,Series Code,2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,10,11.1,12.5,13.9,15.3,16.8,...,25.7,27.25,28.5,30,31.1,32.45,33.8,35.4,..,..
1,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,18.9711647,23.81418228,28.66967201,33.54441833,38.44000244,42.4,...,89.5,71.5,97.7,97.7,93.43087769,97.7,97.7,97.7,..,..
2,Afghanistan,AFG,Adjusted savings: natural resources depletion ...,NY.ADJ.DRES.GN.ZS,..,..,..,..,..,..,...,0.315570916,0.290260985,0.363282086,0.350879165,0.401052962,0.370130823,0.243668383,0.335934935,..,..
3,Afghanistan,AFG,Adjusted savings: net forest depletion (% of GNI),NY.ADJ.DFOR.GN.ZS,..,..,..,..,..,..,...,0.216608988,0.232761963,0.284781431,0.229821541,0.237614662,0.269353221,0.23795819,0.317732055,..,..
4,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,58.08380479,58.15126566,58.13440044,58.12366803,58.12980084,58.13286724,...,58.12366803,58.12366803,58.12366803,58.12366803,58.27698818,58.27698818,58.74154823,58.74154823,..,..

## Get a sense of the data

In [5]:
# How many countries in the dataset?
print(f"Number of countries in this dataset: {raw_data['Country Name'].nunique()}")
#How many years in the dataset?
#len(raw_data.columns)

Number of countries in this dataset: 207

In [6]:
#Print the column names 
raw_data.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]',
       '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]',
       '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
       '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]',
       '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]',
       '2023 [YR2023]'],
      dtype='object')

## Create the first two dataframes

In [7]:
#Create the coutry dataframe
country_columns_df = raw_data[['Country Name', 'Country Code']]

In [8]:
country_columns_df.head()

  Country Name Country Code
0  Afghanistan          AFG
1  Afghanistan          AFG
2  Afghanistan          AFG
3  Afghanistan          AFG
4  Afghanistan          AFG

In [9]:
#Get only the unique values, so each country appears only once
country_df = country_columns_df.drop_duplicates(inplace=False)

In [10]:
print(country_df)

                                            Country Name Country Code
0                                            Afghanistan          AFG
71                                               Albania          ALB
142                                              Algeria          DZA
213                                              Andorra          AND
284                                               Angola          AGO
...                                                  ...          ...
14413                                             Zambia          ZMB
14484                                           Zimbabwe          ZWE
14555                                                NaN          NaN
14558  Data from database: Environment Social and Gov...          NaN
14559                           Last Updated: 04/16/2024          NaN

[208 rows x 2 columns]

In [11]:
#Check the newly created dataframe
country_df.shape

(208, 2)

In [12]:
#Check the last few and first few rows
country_df.tail(10)

                                            Country Name Country Code
14058                                         Uzbekistan          UZB
14129                                            Vanuatu          VUT
14200                                      Venezuela, RB          VEN
14271                                           Viet Nam          VNM
14342                                        Yemen, Rep.          YEM
14413                                             Zambia          ZMB
14484                                           Zimbabwe          ZWE
14555                                                NaN          NaN
14558  Data from database: Environment Social and Gov...          NaN
14559                           Last Updated: 04/16/2024          NaN

In [13]:
country_df.head()

    Country Name Country Code
0    Afghanistan          AFG
71       Albania          ALB
142      Algeria          DZA
213      Andorra          AND
284       Angola          AGO

In [55]:
#Export as csv
country_df.to_csv("../Output/countries.csv")

In [14]:
#Now create the second dataframe - Create the Indicator datafrane
series_columns_df = raw_data[['Series Name', 'Series Code']]

In [15]:
series_columns_df.head()

                                         Series Name        Series Code
0  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1            Access to electricity (% of population)     EG.ELC.ACCS.ZS
2  Adjusted savings: natural resources depletion ...  NY.ADJ.DRES.GN.ZS
3  Adjusted savings: net forest depletion (% of GNI)  NY.ADJ.DFOR.GN.ZS
4                 Agricultural land (% of land area)     AG.LND.AGRI.ZS

In [16]:
indicator_df = series_columns_df.drop_duplicates()

In [17]:
print(indicator_df)

                                             Series Name        Series Code
0      Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1                Access to electricity (% of population)     EG.ELC.ACCS.ZS
2      Adjusted savings: natural resources depletion ...  NY.ADJ.DRES.GN.ZS
3      Adjusted savings: net forest depletion (% of GNI)  NY.ADJ.DFOR.GN.ZS
4                     Agricultural land (% of land area)     AG.LND.AGRI.ZS
...                                                  ...                ...
67                            Tree Cover Loss (hectares)     AG.LND.FRLS.HA
68     Unemployment, total (% of total labor force) (...     SL.UEM.TOTL.ZS
69     Unmet need for contraception (% of married wom...        SP.UWT.TFRT
70                    Voice and Accountability: Estimate             VA.EST
14555                                                NaN                NaN

[72 rows x 2 columns]

In [54]:
#Export as csv
indicator_df.to_csv("../Output/indicators.csv")

In [18]:
indicator_df.tail()

                                             Series Name     Series Code
67                            Tree Cover Loss (hectares)  AG.LND.FRLS.HA
68     Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS
69     Unmet need for contraception (% of married wom...     SP.UWT.TFRT
70                    Voice and Accountability: Estimate          VA.EST
14555                                                NaN             NaN

In [19]:
#Import the csv with years
year_data = Path("../Resources/Year.csv")

In [20]:
years = pd.read_csv(year_data)
print(years)

    Year
0   2003
1   2004
2   2005
3   2006
4   2007
5   2008
6   2009
7   2010
8   2011
9   2012
10  2013
11  2014
12  2015
13  2016
14  2017
15  2018
16  2019
17  2020
18  2021
19  2022
20  2023

## Now create the values dataframe

In [48]:
#Create a values list
values = []

In [49]:
#Create for the year 2003:
#So for now, the year is hardcoded. Have to figure out how to iterate over the years
for index, row in raw_data.iterrows():
    country_code = row['Country Code']
    series_code = row['Series Code']
    #Year = row['C']
    value = row['2003 [YR2003]']
    values.append({
    "Country_Code": country_code,
    "Series_Code": series_code,
    "Year": "2003",
    "Value": value
})

In [ ]:
print(values)

In [52]:
values_df = pd.DataFrame(values)
values_df.head()
#values_df.shape

  Country_Code        Series_Code  Year        Value
0          AFG     EG.CFT.ACCS.ZS  2003           10
1          AFG     EG.ELC.ACCS.ZS  2003   18.9711647
2          AFG  NY.ADJ.DRES.GN.ZS  2003           ..
3          AFG  NY.ADJ.DFOR.GN.ZS  2003           ..
4          AFG     AG.LND.AGRI.ZS  2003  58.08380479

In [53]:
values_df.to_csv("../Output/values.csv")

## rough notes

In [ ]:
#One approach is to go through each year column:
#go through column "2003 [YR2003]"
#parse values like this: Country_Code = raw_data["Country Code"]
#Series_code = raw_data["Series Code"]
#Year = ...?
#corresponding Series Code is series code, 
#corresponding COuntry code is country code

#Dont use this, it breaks jupyter
#for column in raw_data["2003 [YR2003]"]:
    #print(f"The values are: {raw_data['2003 [YR2003]'].tolist()}")

#for column in years['Year']:
    #print(f"The values are: {years['Year'].tolist()}")

#This worked:
#for column in years:
    #print(f"The values are: {years[column].tolist()}")

#this did not work:
#for column in years["Year"]:
    #print(f"The values are: {years[column].tolist()}")

#So how to iterate over specific column?
#This works:
#for column in years.loc[:, ["Year"]]:
    #print(f"The values are: {years[column].tolist()}")
#And this also works:
for column in raw_data.loc[:, ["2003 [YR2003]"]]:
    print(f"The values are: {raw_data[column].tolist()}")
  
#Second approach is to go through each row:
#go through each row of raw_data by creating a for loop or enumerate: 
#parse values like this: Country_Code = raw_data["Country Code"]
#Series_code = raw_data["Series Code"]
#Year = ...?
#how to get values? 
#assign values.append 

#this will go in the enumerate/for loop:
#values.append({
    #"Country_Code": country_code,
    #"Series_Code": series_code,
    #"Year": column_name,
    #"Value": value
#})